body {
  margin: 0 auto;
  width: 100%;
}

.hr-line {
  position: relative;
  top: -40px;
  z-index: -1;
}

.box-fill {
  margin: 0 auto;
  width: 400px;
  height: auto;
  background-color: white;
}

.align-middle {
  text-align: center;
}

.whats-new {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.featured-font-new {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: lightcoral;

  position: relative;
  padding-left: 25px;
}

.featured-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: white;

  position: relative;
  top: -15px;
  padding-left: 25px;
  text-decoration: none;
}

.featured-price {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;

  float: left;

  position: relative;
  top: -35px;
  padding-left: 5px;
}

.featured-dollar-symbol {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;

  float: left;

  position: relative;
  top: -15px;
  padding-left: 25px;
}

.featured-img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.flex-child {
  flex: 1 0 21%;
  order: 3;
  flex-grow: 4;
  border: 1.5px solid #181818;
  background-color: #181818;

  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  height: 500px;
  max-width: 30%;
  padding-bottom: 15px;
}
